@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold mb-4;
  }
}

* {
  font-family: 'Inter Tight', sans-serif;
}

.dropdown-content {
  border: 1px solid #C6C6C6;
  background: white;
}

.dropdown-content a {
  border-radius: 0;
}

.btn { box-shadow: none; }
