@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-semibold mb-2;
  }
}

* {
  font-family: 'Inter Tight', sans-serif;
}

.dropdown-content {
  border: 1px solid #C6C6C6;
  background: white;
}

.dropdown-content a {
  border-radius: 0;
}

.btn { box-shadow: none; }

html, body, #root {
  height: 100%;
  overflow: hidden;
}

/* Important for Safari to allow scrolling */
#vote_overlay_modal iframe {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s, height 0.25s !important;
}

#vote_overlay_modal[open] iframe {
  visibility: visible;
  opacity: 1;
}

circle {
  cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1080px) {
  #comment-text {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}

::selection {
  background: rgba(253, 244, 231, 1);
}
